<div class="container-fluid p-3 " *ngIf="!isLoading">
  <div class="popup" *ngIf="showPopup">
    <app-edit-profil (close)="onCloseEvent($event)">

    </app-edit-profil>
  </div>
    <div class="container-md  rounded-lg mb-3 biggest">
      <div class="row no-gutters " >
        <div class="col-6 my-2 mx-auto text-center">
          <img
            [src]="this.user!.image"
            alt=""
            class="rounded-circle img-fluid slika"
          />
          <div (click)="onClickFollowing()">
             <b>{{ user?.following || 0}} </b>  Following 
          </div>
          <div (click)="onClickFollowers()">
            <b>{{ user?.followers || 0}} </b>  Followers 
         </div>
        </div>
        <div class="col-6 mx-auto align-self-center text-center my-2">
          <div>
            <p class="info strong">{{ user!.firstName + ' ' + user!.lastName }}</p>
            <p class="info">{{ user!.email }}</p>
            <p class="info">@{{ user!.username}}</p>
          </div>
         
          <div class="row mx-auto  my-2" (click)="onChangeClick()" *ngIf="!this.follow">
            <span class="ml-5">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
            </span>
  
             
            </div>
            <div>
              <button type="button" class="btn btn-primary  col-xs-12 mb-2" (click)="onClickFollow()" *ngIf="this.follow && !this.isFollowed">
              Follow
              </button>
              <button type="button" class="btn btn-primary  col-xs-12 mb-2" (click)="onClickUnfollow()" *ngIf="this.follow && this.isFollowed">
                Unfollow
                </button>
            </div>
        </div>
       
      </div>
    
    </div>
    <app-tweet-list [tweets]="this.tweets " *ngIf="this.tweets" (refreshTweets)="onRefreshTweets()">
    </app-tweet-list>
  </div>
 