<div class="row justify-content-center align-items-center lista">
  <div class="row">
    <div class="col-11">
      <div class="container  pb-5 pt-3">
        <h2 (click)= "profile(this.username)">@{{this.username}}</h2>
    </div>
    </div>
    <div class="col-1 pb-5 pt-3">
      <div class="col-1" (click)="back()">
        <span class="col-12">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg>
          </span>
      </div>
    </div>
  </div>
    
    <section class="container my-3 rounded-lg whole">
      <div class="row justify-content-center align-items-center">
        <div class="col-12">
          <div
            class="row"
            *ngFor="let user of this.users"
          >
          <div class="col-1 my-2 mx-auto text-center">
            <img
              [src]="this.user.photo"
              alt=""
              class="rounded-circle img-fluid slika"
            />

          </div>
           <div class="col-8  align-items-center">
           <div (click)= " profile(user.friendUsername ? user.friendUsername : user.followerUsername)">
            <b> {{user!.firstName }} {{user!.lastName }}</b> @{{ user.friendUsername ? user.friendUsername : user.followerUsername }} 
           </div> 
        </div> 
           <div class="col-3">
            <button type="button" class="btn btn-primary  col-12 mb-2" (click)="onClick(user)" *ngIf="this.loggedUsername!=user.friendUsername && this.loggedUsername!=user.followerUsername  ">
                <p *ngIf="user.isFollowedByMe  ">
                    Unfollow
                </p>
                <p *ngIf="!user.isFollowedByMe  ">
                    Follow
                </p>
              </button>
           </div> 
        </div>
        </div>
      </div>
    </section>
  </div>
  